<div
  *ngIf="isVisible"
  [ngClass]="{
    'bg-green-100 border-green-500 text-green-700': type === 'success',
    'bg-red-100 border-red-500 text-red-700': type === 'error',
    'bg-yellow-100 border-yellow-500 text-yellow-700': type === 'warning',
    'bg-blue-100 border-blue-500 text-blue-700': type === 'info'
  }"
  class="fixed top-4 left-1/2 transform -translate-x-1/2 border-l-4 p-4 rounded shadow-lg max-w-md"
>
  <div class="flex items-start">
    <div class="flex-shrink-0">
      <svg
        *ngIf="type === 'success'"
        class="w-6 h-6 text-green-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <svg
        *ngIf="type === 'error'"
        class="w-6 h-6 text-red-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
      <svg
        *ngIf="type === 'warning'"
        class="w-6 h-6 text-yellow-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m0-4h.01M12 4v2m0 12v2m0-6v2m0-6v2m0 6v2" />
      </svg>
      <svg
        *ngIf="type === 'info'"
        class="w-6 h-6 text-blue-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8h.01M12 12h.01M12 16h.01M9 12h6" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium">{{ message }}</p>
    </div>
    <button
      type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-500 rounded-md p-1.5 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-600"
      (click)="closeAlert()"
    >
      <span class="sr-only">Close</span>
      <svg
        class="w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
