<div *ngIf="isVisible" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm">
  <div class="bg-white rounded-lg shadow-2xl p-6 md:p-8 m-4 max-w-sm w-full animate-fade-in-up">
    
    <!-- Contenido del Diálogo -->
    <div class="text-center">
      <h3 class="text-lg font-semibold text-gray-800 mb-4">Confirmación Requerida</h3>
      <p class="text-gray-600 mb-6">{{ message }}</p>
    </div>

    <!-- Botones de Acción -->
    <div class="flex justify-end space-x-4">
      <button 
        (click)="onCancel()" 
        class="px-4 py-2 rounded-md text-gray-700 bg-gray-200 hover:bg-gray-300 font-semibold transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-gray-400">
        Cancelar
      </button>
      <button 
        (click)="onConfirm()" 
        class="px-4 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700 font-semibold transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500">
        Aceptar
      </button>
    </div>

  </div>
</div>
